body
{
  font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;      
      height: 100vh;
    }

    .container {
      text-align: center;
    }
h1
{
  color: #000000
}

input[type="text"]
{
  padding: 5px;
  font-weight: bold;
}

button
{
  background-color: #ff0000;
  color: white;
  border: none;
  font-weight: bold;
  padding: 8px 15px;
  cursor: pointer;
}

#message
{
  margin-top: 10px;
  font-weight: bold;
  color: #008080;
}
